* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-size: x-large;
    text-align: center;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: #030303;
    min-width: 360px;
    max-width: 360px;
    margin: 0px auto 0px auto;
}

.head {
    background-color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.line {
    height: 5px;
    background: lightgrey;
    margin: 1px 0 1px 0;
}

.input-form {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    border: 0;
    width: 48px;
}

.input-background {
    background-color: #f0f0f0;
}

.timer {
    width: 96px;
}

#content {
    background-color: white;
    width: 100%;
    margin: 1px auto 1px auto;
}

.catname {
    text-align: center;
    background: lightgray;
}

#operchar {
    font-size: xx-large;
    vertical-align: top;
}

button {
    font-size: xx-large;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modekeys {
    display: flex;
    justify-content: center;
}

.number {
    width: 100px;
    height: 50px;
    margin: 5px 10px;
    font-weight: bold;
}

.opermode {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    font-weight: bold;
}

#enter {
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.formrow {
    display: flex;
    justify-content: center;
    margin: 7px 5px;
}

.formcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: x-large;
    flex: 1 1 0;
}

.centeredblock {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.navy {
    color: navy;
}
